{% extends 'layout.html' %}
{% block body %}
{% load staticfiles %}
    <div class="container" id="mt">
        <div class="col-sm-10">
            <div id="stock_list">
                <div id="center-text" >
                    <h1>
                        ENTER A STOCK TICKER BELOW TO CHECK PRICES
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/jquery.js' %}"></script>
{% endblock %}
