{% extends 'layout.html' %}
{% load staticfiles %}
{% block body %}
    <div class="container" id="mt">
        <div  id="stock_list">
            {% if user_stocks.count > 0 %}
                <table class="table table-hover"  id="overflow">
                    <tr>
                    <th>Ticker</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                    <td>
                        <button class="btn btn-outline-success">
                            <a href="{% url 'stocks:refresh_all' %} " >REFRESH ALL</a>
                        </button>
                    </td>
                </tr>
                {% for stock in user_stocks %}
                <tr>
                    <td>{{ stock.ticker_symbol }}</td>
                    <td>{{ stock.s_open }}</td>
                    <td>{{ stock.s_high }}</td>
                    <td>{{ stock.s_low }}</td>
                    <td>{{ stock.s_close }}</td>
                    <td>
                        <form action="{% url 'rest:delete' stock.id %}" method="delete" id="delete_stock">
                            {% csrf_token %}
                            <button class="btn btn-outline-warning">DELETE</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table> 
            {% else %}
        <div class="jumbotron">
            <div id='center-text'>
                <h1>NO STOCKS ADDED TO FAVORITES</h1>
                <p>Enter a ticker below to check stock price information</p>
                <button class="btn btn-outline-success">
                        <a href="/stocks/stock_search/">SEARCH FOR A STOCK</a>
                    </button>
                </div>
            </div>
            {% endif %}
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/jquery.js' %}"></script>
{% endblock %}
