{% extends 'layout.html' %}
{% load staticfiles %}
{% block body %}
<section>

    <div class="container" id="mt">
        {% if user_stocks.count > 0 %}
        <ol>
            <table class="table table-hover">
                <tr>
                    <th>Ticker</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                </tr>
                <tr>
                    {% for ticker in stock_data.values %}
                    {% for stuff in ticker %}
                    <td>{{ stuff }}</td>
                    {% endfor %}
                    {% endfor %}
            </tr>
        </table> 
        {% else %}
            <div class="jumbotron">
                <div id='center-text'>
                    <h1>NO STOCKS ADDED TO FAVORITES</h1>
                    <p>Enter a ticker below to check stock price information</p>
                    <button class="btn btn-outline-success">
                        <a href="/stocks/stock_search/">SEARCH FOR A STOCK</a>
                    </button>
                </div>
            </div>
        {% endif %}
        </ol>
    

    </div>
</section>
{% endblock %}