.top_nav{
    background-color:grey;
    border-bottom: 2px black solid;
}
#center {
    margin-left:auto;
    margin-right:auto;
    align-content: center;
    align-items: center;
}
#center-text{
    text-align: center;
    text-decoration: underline;
    color: rgb(96, 211, 96);
    padding-left:100px;
}
#grey-black{
    background-color: rgba(246, 248, 242, 0.993)
}
#mt{
    margin-top: 50px;
}
#green{
    background-color: rgb(96, 211, 96);
}
#white{
    margin-top: 50px;
    background-color: white;
    border: yellow 5px solid;
}
#main_body{
    background-color: rgb(109, 99, 99)
}
#stock_list{
    background-color: white;
    border: 5px green round;
    border-radius: 30px;
    padding: 15px;
}
#float_right{
    float:right
}
#overflow{
    height: 250px;
    overflow:scroll;
}